/* *{
    border:  solid 2px black;
} */

.cuerpo{
    display: flex;
    height: 115px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
p{
    padding-left: 85px;
    font-size: 29px;
}
.time{
    display: flex;
    align-items: center;
    padding: 100px;
    margin-left: auto;
}